/* index.css */
:root {
  --bg: #09090b;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

body {
  font-family: "Inter", system-ui, sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}